.Dashboard .list, .Dashboard .map, .Dashboard.container {
  height: 100%;
}

.Dashboard .list, .Dashboard .map {
  padding: 0;
}

.Dashboard .list {
  overflow: scroll;
  padding-bottom: 100px;
  box-shadow: 1px 3px 3px #999;
  position: relative;
  z-index: 2;
}

.Dashboard.container {
  padding: 0;
  margin: 0;
  width: 100%;
}

.Dashboard .row {
  margin: 0;
  height: 100%;
}

.Dashboard header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.Dashboard header .glyphicon-refresh {
  margin-right: 20px;
  font-size: 20px;
  color: #007DC5;
  position: absolute;
  right: 0;
  top: 20px;
}

.Dashboard header h2 {
  margin: 0;
  padding: 20px 0;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  font-size: 20px;
  border-bottom: 1px solid #DDD;
  letter-spacing: 1px;
}

.Dashboard .highlighted {
  background-color: #DDD;
  margin: 10px 0;
}

.Dashboard a {
  color: inherit;
}

.Dashboard a:hover {
  text-decoration: none;
}

.Dashboard .newSessionButton {
  width: 100%;
  border-radius: 0;
  display: block;
  background-color: #3972AB;
  height: 60px;
  text-align: center;
  line-height: 60px;
  color: white;
  font-size: 20px;
}

.Dashboard .newSessionButton .glyphicon {
  margin-left: 5px;
}
