.Dashboard .list, .Dashboard .map, .Dashboard.container {
  height: 100%;
}

.Dashboard .nearbyList {
  overflow: scroll;
}

.Dashboard.container {
  padding: 0;
  margin: 0;
  width: 100%;
}

.Dashboard .col-sm-6 {
  padding: 0;
}

.Dashboard .row {
  margin: 0;
  height: 100%;
}

.Dashboard header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Dashboard header .glyphicon-refresh {
  margin-right: 10px;
  font-size: 20px;
  color: #007DC5;
}

.Dashboard header h2 {
  margin: 10px 0;
}

.Dashboard .highlighted {
  background-color: #DDD;
  margin: 10px 0;
}

.Dashboard a {
  color: inherit;
}

.Dashboard a:hover {
  text-decoration: none;
}
