.SessionCard {
  display: flex;
  height: 120px;
  border-bottom: 1px solid #DDD;
  padding: 0 20px;
  align-items: center;
}

.SessionCard:hover {
  transform: scale(1.01);
}

.SessionCard img {
  max-height: 80px;
  max-width: 80px;
  object-fit: contain;
}

.SessionCard .imageWrapper {
  width: 80px;
  display: flex;
  justify-content: center;
  margin-right: 20px;
}

.SessionCard h2 {
  margin-left: 20px;
  font-size: 18px;
  margin: 5px 0;
}

.SessionCard p {
  margin: 0;
  font-size: 13px;
}

.SessionCard > div:nth-child(2) {
  flex: 1;
}

.SessionCard .glyphicon {
  margin: 0 5px 0 20px;
  font-size: 16px;
}
