.SessionCard {
  display: flex;
  height: 120px;
  border-bottom: 1px solid #DDD;
  padding-right: 5px;
  overflow: scroll;
  padding: 20px;
  align-items: center;
}

.SessionCard:hover {
  opacity: .75;
}

.SessionCard img {
  max-height: 80px;
  max-width: 80px;
  object-fit: contain;
}

.SessionCard .imageWrapper {
  width: 100px;
  display: flex;
  justify-content: center;
}

.SessionCard h2 {
  font-size: 18px;
  margin: 5px 0;
}

.SessionCard p {
  margin: 0;
  font-size: 13px;
}

.SessionCard > div:nth-child(2) {
  flex: 1;
  padding-left: 10px;
}

.SessionCard .glyphicon {
  margin-right: 5px;
  font-size: 16px;
}
